<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wage Prediction</title>
</head>
<body>
    <h2>Wage Prediction</h2>
    <form action="/predict" method="post">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br><br>
        
        <label for="overall_rating">Overall Rating:</label>
        <input type="text" id="overall_rating" name="overall_rating"><br><br>

        <label for="potential">Potential:</label>
        <input type="text" id="potential" name="potential"><br><br>

        <label for="crossing">Crossing:</label>
        <input type="text" id="crossing" name="crossing"><br><br> 

        <label for="finishing">Finishing:</label>
        <input type="text" id="finishing" name="finishing"><br><br> 

        <label for="heading_accuracy">Heading Accuracy:</label>
        <input type="text" id="heading_accuracy" name="heading_accuracy"><br><br> 
        
        <label for="short_passing">Short Passing:</label>
        <input type="text" id="short_passing" name="short_passing"><br><br> 

        <label for="volleys">Volleys:</label>
        <input type="text" id="volleys" name="volleys"><br><br> 

        <label for="dribbling">Dribbling:</label>
        <input type="text" id="dribbling" name="dribbling"><br><br> 

        <label for="curve">Curve:</label>
        <input type="text" id="curve" name="curve"><br><br> 

        <label for="freekick_accuracy">freekick accuracy:</label>
        <input type="text" id="freekick_accuracy" name="freekick_accuracy"><br><br> 

        <label for="long_passing">long passing:</label>
        <input type="text" id="long_passing" name="long_passing><br><br> 

        <label for="ball_control">ball control:</label>
        <input type="text" id="ball_control" name="ball_control"><br><br> 

        <label for="acceleration">acceleration:</label>
        <input type="text" id="acceleration" name="acceleration"><br><br> 

        <label for="sprint_speed">sprint speed:</label>
        <input type="text" id="sprint_speed" name="sprint_speed"><br><br> 

        <label for="agility">agility:</label>
        <input type="text" id="agility" name="agility"><br><br> 

        <label for="reactions">reactions:</label>
        <input type="text" id="reactions" name="reactions"><br><br> 

        <label for="balance">balance:</label>
        <input type="text" id="balance" name="balance"><br><br> 

        <label for="shot_power">shot_power:</label>
        <input type="text" id="shot_power" name="shot_power"><br><br> 

        <label for="jumping">jumping:</label>
        <input type="text" id="jumping" name="jumping"><br><br> 

        <label for="stamina">stamina:</label>
        <input type="text" id="stamina" name="stamina"><br><br> 

        <label for="strength">strength:</label>
        <input type="text" id="strength" name="strength"><br><br> 

        <label for="long_shots">long shots:</label>
        <input type="text" id="long_shots" name="long_shots"><br><br> 

        <label for="aggression">aggression:</label>
        <input type="text" id="aggression" name="aggression"><br><br> 

        <label for="interceptions">interceptions:</label>
        <input type="text" id="interceptions" name="interceptions"><br><br> 

        <label for="positioning">positioning:</label>
        <input type="text" id="positioning" name="positioning"><br><br> 

        <label for="vision">vision:</label>
        <input type="text" id="vision" name="vision"><br><br> 

        <label for="penalties">penalties:</label>
        <input type="text" id="penalties" name="penalties"><br><br> 

        <label for="composure">composure:</label>
        <input type="text" id="composure" name="composure"><br><br>

        <label for="marking">marking:</label>
        <input type="text" id="marking" name="marking"><br><br>

        <label for="composure">composure:</label>
        <input type="text" id="composure" name="composure"><br><br>

        <label for="standing_tackle">standing tackle:</label>
        <input type="text" id="standing_tackle" name="standing_tackle"><br><br>

        <label for="sliding_tackle">sliding tackle:</label>
        <input type="text" id="sliding_tackle" name="sliding_tackle"><br><br>

        <label for="positions">positions:</label>
        <input type="text" id="positions" name="positions"><br><br>

        
        <input type="submit" value="Predict">
    </form>
</body>
</html>